@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about-bgImg-container {
  height: 50vh;
  width: 100%;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../images/mr-robot-hood-city-silhouette-artwork-a2ngxex75g6rm078.jpg");
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-bgImg-container .about__bio-image {
  text-align: center;
  margin-bottom: 0.5rem;
}

.about__bio-image {
  text-align: center;
}
.about__bio-image p {
  font-size: 1.5rem;
  margin: 4rem;
  color: #eee;
  font-family: "Press Start 2P", cursive;
  line-height: 2rem;
}

.about__container {
  width: 70vw;
  margin: 2rem auto;
}
.about__job {
  margin: 1rem;
  background-color: #414141;
  border-left: 10px solid #df2d2f;
  padding: 1rem;
}
.about__job h2 {
  margin: 0.5rem 0;
}
.about__job h6 {
  margin: 0.3rem 0;
}

.contact-bgImg-container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../images/mr-robot-hood-city-silhouette-artwork-a2ngxex75g6rm078.jpg");
  background-position: center center;
  background-size: cover;
}
.contact-bgImg-container nav {
  height: 30vh;
}

.contact {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.contact__list {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  gap: 3rem;
  justify-content: center;
  align-items: flex-start;
}
.contact i {
  color: #df2d2f;
}
.contact .text-secondary {
  color: #eee;
}

.home-bgImg-container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../images/mr-robot-hood-city-silhouette-artwork-a2ngxex75g6rm078.jpg");
  background-position: center center;
  background-size: cover;
}

.home {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home__name {
  font-size: 2rem;
  border-bottom: 2px solid #eee;
  font-family: "Press Start 2P", cursive;
}
.home__name--last {
  color: #df2d2f;
  font-weight: 700;
}

.project-bgImg-container {
  height: 40vh;
  width: 100%;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../images/mr-robot-hood-city-silhouette-artwork-a2ngxex75g6rm078.jpg");
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project-bgImg-container .projects__bio-image {
  text-align: center;
  margin-bottom: 0.5rem;
}

.projects__items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 5rem;
  gap: 1rem;
}
.projects__item {
  width: 100%;
  cursor: pointer;
  border-left: 10px solid #df2d2f;
  opacity: 0.8;
  position: relative;
}
.projects__item img {
  width: 100%;
  height: 100%;
}
.projects__item::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #df2d2f;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: all 0.5s;
}
.projects__item:hover::after {
  opacity: 0.7;
}

.link-style a, footer.middle a, footer.vertical .social-icons a, footer.horizontal a {
  padding: 0.4rem;
  transition: all 1s;
}
.link-style a:hover, footer.middle a:hover, footer.vertical .social-icons a:hover, footer.horizontal a:hover {
  color: #df2d2f;
}

footer.horizontal {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

footer.vertical {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2rem;
}
footer.vertical .social-icons {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 1rem;
}
footer.vertical .copyright {
  position: fixed;
  bottom: 1rem;
  right: 3rem;
  writing-mode: vertical-lr;
}

footer.middle {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.nav {
  height: 10vh;
  padding: 1rem;
}
.nav__header {
  text-align: right;
}
.nav__toggle {
  color: #df2d2f;
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
}
.nav__toggle--rotate {
  transform: rotate(90deg);
  transition: all 0.5s;
}
.nav__list {
  display: none;
  text-align: left;
  padding: 1rem;
}
.nav__show--list {
  width: 100vw;
  height: 100vh;
  position: relative;
  left: -1rem;
  display: block;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 5;
}
.nav__item {
  padding: 1rem;
  list-style: none;
}
.nav__link {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Press Start 2P", cursive;
  transition: all 1s;
}
.nav__link:hover {
  color: #df2d2f;
}
.nav__link--active {
  color: #df2d2f;
}

@media screen and (max-width: 576px) {
  .about-bgImg-container {
    height: 40vh;
    width: 100%;
    background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../images/mr-robot-hood-city-silhouette-artwork-a2ngxex75g6rm078.jpg");
    background-position: center center;
    background-size: cover;
  }
  .about__bio-image p {
    display: none;
  }
}
@media screen and (min-width: 800px) {
  .nav__center {
    display: flex;
    justify-content: flex-end;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    display: flex;
  }
  .nav__link {
    font-size: 1.2rem;
  }
  .home__name {
    font-size: 3rem;
  }
  .projects__item {
    width: 45%;
  }
  footer.horizontal {
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (min-width: 1250px) {
  .home__name {
    font-size: 5rem;
  }
  .projects__item {
    width: 32%;
  }
}
@media screen and (max-width: 576px) {
  .about-bgImg-container {
    height: 40vh;
    width: 100%;
    background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../images/mr-robot-hood-city-silhouette-artwork-a2ngxex75g6rm078.jpg");
    background-position: center center;
    background-size: cover;
  }
  .about__bio-image p {
    display: none;
  }
}
@media screen and (min-width: 800px) {
  .nav__center {
    display: flex;
    justify-content: flex-end;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    display: flex;
  }
  .nav__link {
    font-size: 1.2rem;
  }
  .home__name {
    font-size: 3rem;
  }
  .projects__item {
    width: 45%;
  }
  footer.horizontal {
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (min-width: 1250px) {
  .home__name {
    font-size: 5rem;
  }
  .projects__item {
    width: 32%;
  }
}
body {
  font-family: "Orbitron", sans-serif;
  color: #eee;
  height: 100vh;
  background-color: #272727;
}

a {
  text-decoration: none;
  color: #eee;
}

h1,
h2,
h3 {
  font-weight: 400;
}

/*# sourceMappingURL=main.css.map */
