// //*****************************************************
// //*   RESPONSIVE
// //*****************************************************
@include media-sm {
  .about-bgImg-container {
    @include bgImg(40vh, $main-bgImg-path);
  }
  .about__bio-image {
    p {
      display: none;
    }
  }
}

@include media-md {
  .nav {
    &__center {
      display: flex;
      justify-content: flex-end;
    }
    &__toggle {
      display: none;
    }
    &__list {
      display: flex;
    }
    &__link {
      font-size: 1.2rem;
    }
  }
  .home__name {
    font-size: 3rem;
  }
  .projects__item {
    width: 45%;
  }
  footer.horizontal {
    flex-direction: row;
    justify-content: center;
  }
}

@include media-lg {
  .home__name {
    font-size: 5rem;
  }
  .projects__item {
    width: 32%;
  }
}
