@mixin transition($sec) {
  transition: all $sec;
}

@mixin bgImg($height, $url) {
  height: $height;
  width: 100%;
  background: linear-gradient(
      to right,
      rgba($primary-color, 0.9),
      rgba($primary-color, 0.3)
    ),
    url($url);
  background-position: center center;
  background-size: cover;
}

@mixin media-sm {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@mixin media-md {
  @media screen and (min-width: 800px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 1250px) {
    @content;
  }
}
