// Colors
$primary-color: #272727;
$secondary-color: #df2d2f;
$text-color: #eee;

// Font
$font-family-techno: "Press Start 2P", cursive;
$font-family-main: "Orbitron", sans-serif;

// Path

$main-bgImg-path: "../images/mr-robot-hood-city-silhouette-artwork-a2ngxex75g6rm078.jpg";
